<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <logger name="com.juno"                     level="INFO"    />
    <logger name="jdbc"                         level="OFF"     />
    <logger name="jdbc.sqlonly"                 level="ERROR"   />
    <logger name="jdbc.sqltiming"               level="INFO"    />
    <logger name="jdbc.audit"                   level="WARN"    />
    <logger name="jdbc.resultset"               level="ERROR"   />
    <logger name="jdbc.resultsettable"          level="INFO"    />
    <logger name="jdbc.connection"              level="OFF"     />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
